.title{
    background-color: #04aa71;
    height: 40px;
    color: white;
}

.navbar{
    position: fixed;
    overflow: hidden;
   }
   .bodyprayer{
       margin-left: 6vh;
       margin-right: 5vh;
       margin-bottom: 3vh;
       margin-top: 2vh;
   }
  .timebody{
      margin-left: 5vh;
      margin-right: 5vh;
      border-radius: 11vh;
  }
  .backicon{
      color: #04aa71;
  }
  .forwardicon{
      color: #04aa71;
  }
  .cardbody{
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .asd{
    margin-left: 7vh;
    margin-right: 7vh;
  }
.vol-icon{
    color: #04aa71;
    height: 3vh;
    width: 3vh;
    margin-left: 6vh;
}
.noti-icon{
    color: #04aa71;
    height: 3vh;
    width: 3vh;
    margin-left: 6vh;
}


   .home{
       color: #04aa71;
   }
   .time{
       color: #04aa71;
   }
   .book{
       color: #04aa71;
   }
   .compass{
       color: #04aa71;
   }
   .more{
       color: #04aa71;
   }
   .leftarrow{
       max-width: 30%;
   }
   .rightarrow{
    max-width: 30%;
}
.myOverlay{
    width: 100%;
    height: 65px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 25;
    color: #fff;
    margin-bottom: 59vh;
    margin-left: 5vh;

}



