<ion-header  >
  <div class="title">
    <ion-title><ion-icon name="location-sharp" ></ion-icon> Birmingham United Kingdom <ion-icon name="share-social"></ion-icon></ion-title>
  </div>

</ion-header>

<ion-content>

 <div>
   <img src="../../../assets/images/images@2x.png" >
   
   <div class="myOverlay">
    <div class="card-title"><strong>Sunrise</strong></div>
    <div class="card-subtitle">in 6 hours, 20 mins</div>

 </div>
 
   <ion-card class="timebody">
    <ion-item>
      <ion-icon class="backicon" name="chevron-back"></ion-icon>
      <ion-label>Wednesday</ion-label>
      <ion-datetime value="2020-07-29" placeholder="Select Date"></ion-datetime>
      <ion-icon class="forwardicon" name="chevron-forward"></ion-icon>
    </ion-item>
    </ion-card>
 </div>
 
<ion-card class="asd">
 <ion-list class="cardbody">
 
  <ion-item>
    <ion-label>Fajr</ion-label>
    <ion-note slot="end" color="">3:59 am <ion-icon class="vol-icon" name="volume-high-sharp"></ion-icon></ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Sunrise</ion-label>
    <ion-note slot="end" color="">5:25 am <ion-icon class="vol-icon" name="volume-high-sharp"></ion-icon></ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Dhuhr</ion-label>
    <ion-note slot="end" color="">12:13pm <ion-icon class="noti-icon" name="notifications-off-outline"></ion-icon></ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Asr</ion-label>
    <ion-note slot="end" color="">3:42 am <ion-icon class="noti-icon" name="notifications-off-outline"></ion-icon></ion-note>
  </ion-item>

  <ion-item>
      <div>Magrip</div>
      <ion-label></ion-label>
    <ion-note slot="end" color="">7:00 pm <ion-icon class="vol-icon" name="volume-high-sharp"></ion-icon></ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Isha'a</ion-label>
    <ion-note slot="end" color="">8:27 pm <ion-icon class="vol-icon" name="volume-high-sharp"></ion-icon></ion-note>
  </ion-item>
</ion-list>
</ion-card>


<ion-tabs class="navbar">
  <ion-tab-bar slot="bottom"  >
    <ion-tab-button tab="home">
      <ion-icon class="home" name="home-outline"></ion-icon>
      <ion-lable>home</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="prayers">
      <ion-icon class="time" name="time-outline"></ion-icon>
      <ion-lable>prayers</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="Quran">
      <ion-icon class="book" name="book"></ion-icon>
      <ion-lable>Quran</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="Qibla">
      <ion-icon class="compass" name="compass-outline"></ion-icon>
      <ion-lable>Qibla</ion-lable>
    </ion-tab-button><ion-tab-button tab="more">
      <ion-icon class="more" name="ellipsis-horizontal"></ion-icon>
      <ion-lable>more</ion-lable>
    </ion-tab-button>
  </ion-tab-bar> 
  </ion-tabs>













  </ion-content>
