.vol-icon{
  margin-left: 53vh;
  color: #04aa71;
}
.noti-icon{
  color: #04aa71;
}
.info{
  margin-left: 5vh;
  color: white;
}
.logo{
  margin-left: 4vh;
}
.heading{
  margin-left: 2vh;
}
img {
  max-width: 73%;
  border: 0;
  margin-left: 4vh;
}
.background{
  background-color: #04aa71;
  border-radius: 35px;
}
.time{
  border-radius: 4vh;
}

.card{
  border-radius: 6vh
}
.midbody{
  margin-left: 3vh;
}
.dua{
  margin-left: 6vh;
}
.inspiration{
  margin-left: 2vh;
}
.calender{
  margin-left: 3vh;
}

.midbody2{
  margin-left: 3vh;
}
.community{
  margin-left: 2vh;
}
.infaq{
  margin-left: 6vh;
}
.halal{
  margin-left: 0vh;
}
.sec{
  padding-left: 6vh;
}
.navbar{
 position: fixed;
 overflow: hidden;
}
.home{
  color: #04aa71;
}
.time{
  color: #04aa71;
}
.book{
  color: #04aa71;
}
.compass{
  color: #04aa71;
}
.more{
  color: #04aa71;
}