<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="menu-outline"></ion-icon><ion-icon class="vol-icon" name="volume-high-sharp"></ion-icon><ion-icon class="noti-icon" name="notifications-sharp"></ion-icon>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<h1 class="heading">Today</h1>
 
    <ion-grid class="background">
      <ion-row>
        <ion-col>
          <div>
            <ion-icon class="logo" name="location-sharp" ></ion-icon> Birmingham United Kingdom
            <p  class="info">Fajr (Tomorrow)<br>
              <strong>3:59 AM</strong><br>
              in 6 hours, 20 mins</p>  
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img class="img" src="../../assets/images/mosque (1).svg">
          </div>
        </ion-col>
        </ion-row>
        </ion-grid>

  <ion-card class="time">
  <ion-item>
    <ion-datetime slot="start" value="2020-07-26" ></ion-datetime> 1 DHU ' 1 - Hijjah 1441
  </ion-item>
  </ion-card>


<ion-card class="card">
<ion-row class="midbody">
  <ion-col>
    <img class="" src="../../assets/images/islam-1@2x.png" >
    <div class="dua">Dua</div>
  </ion-col>
  <ion-col>
    <img class="" src="../../assets/images/islam-1@2x.png" >
    <div class="inspiration">Inspiration</div>
  </ion-col>
  <ion-col>
    <img class="" src="../../assets/images/islam-1@2x.png" >
    <div class="calender">Calender</div>
  </ion-col>
</ion-row>
<ion-row class="midbody2">
  <ion-col>
    <img class="" src="../../assets/images/group (-1@2x.png" >
    <div class="community">Community</div>
  </ion-col>
  <ion-col>
    <img class="" src="../../assets/images/islam-1@2x.png" >
    <div class="infaq">Infaq</div>
  </ion-col>
  <ion-col>
    <img class="" src="../../assets/images/XMLID_-1@2x.png" >
    <div class="halal">Halal places</div>
  </ion-col>
</ion-row>
</ion-card>

<ion-card class="sec">
  <img src="../../assets/images/article (1)@2x.png">Verse of the day<p>view all</p>
<img src="../../assets/images/efeb2b43501d3ed580c648fb2c628c4a.jpg">
</ion-card>


<ion-tabs class="navbar">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home">
      <ion-icon class="home" name="home-outline"></ion-icon>
      <ion-lable>home</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="prayers">
      <ion-icon class="time" name="time-outline"></ion-icon>
      <ion-lable>prayers</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="Quran">
      <ion-icon class="book" name="book"></ion-icon>
      <ion-lable>Quran</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab="Qibla">
      <ion-icon class="compass" name="compass-outline"></ion-icon>
      <ion-lable>Qibla</ion-lable>
    </ion-tab-button><ion-tab-button tab="more">
      <ion-icon class="more" name="ellipsis-horizontal"></ion-icon>
      <ion-lable>more</ion-lable>
    </ion-tab-button>
  </ion-tab-bar> 
  </ion-tabs>

  
  
</ion-content>
